@font-face {
  font-family: 'Titillium';
  src: local('Titillium'), url(./font/TitilliumWeb-Light.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Titillium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717;
  color: #FFFFFF;
  font-weight: 200;
  
}
::-webkit-scrollbar {
    display: none;
}
